
.header {
width: 1100px;
height: 293px;
opacity: 1;

}
 
.cover {
 width: 1100px;
height: 757px;
opacity: 1;
margin-bottom: 180px;

}
.overlay.jpg {
  background-image: url(overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
.description{
width: 1000px;
height: 51px;
opacity: 1;
border-width: 1px;
}

.subline{
  width: 637px;
height: 28px;
opacity: 1;
}

.button{
width: 256px;
height: 51px;
opacity: 1;
border-width: 1px;
}
.lots{

  width: 1052px;
height: 723px;
opacity: 1;
margin: 0 24 120 24px;
}

.grid_container{ 
display: grid;
   grid-template-columns: repeat(3, minmax(334px, 1fr));
    grid-auto-rows: 596px;
   gap: 25px;
}
 
.article1 {

}
.article2 {

}
.article3 {
  
}



.about{
width: 1052px;
height: 595px;
top: 2073px;
left: 24px;
opacity: 1;
margin: 0 24 180 24px;
}

.footer {
width: 1100px;
height: 180px;
top: 2848px;
}