.body {
margin: 0;
padding: 0;
border:  0;
}

.header {
  border: 3 solid black;
width: 1100px;
height: 293px
}
 
.cover {
  border: 3 solid black;
  width: 1100px;
height: 757px;
top: 293px;
padding-left: 24px;
padding-right: 24px;
margin-bottom: 180px;
}